::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000000; 
    /* border-radius: 10px;  */
}

::-webkit-scrollbar-thumb {
    background-color: #252424; 
    /* border-radius: 10px;  */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

.reddit-sans {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
} 

body{
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    margin: 5px;
}

.right {
    width: 75vw;
    margin: 10px 6px;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding: 10px;
}

.homecontainer {
    border-radius: 5px;
}

.homecontainer:hover {
    cursor: pointer;
    background-color: #424242;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 10px;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.songList {
    height: 300px;
    overflow: auto;
}

.songList ul li:hover {
    transform: scale(1.1);
    transition: all 0.1s ease;
}

.songList ul{
    padding: 0 25px;
    font-size: 12px;
}

.songList .info {
    width: 300px;
}

.songList ul li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 3px 0 0;
    border-radius: 5px;
    padding: 8px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    margin: 5px;
    flex-wrap: wrap ;
}

.library {
    min-height: 70vh;
    position: relative;
}

.footer a{
    color: grey;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(33, 33, 33); */
}

.header .nav {
    cursor: pointer;
}

.header > * {
    padding: 10px;
}

.spotifyplaylist {
    padding: 16px;
    min-height: 75vh;
}

.cardContainer {
    margin: 15px;
    display: flex;
    gap: 20px;
    max-width: 850px;
    flex-wrap: wrap;
}

.card:hover {
    transform: scale(1.1);
    background-color: #252525;
    cursor: pointer;
}

.card {
    width: 145px;
    transition: .1s ease ;
    position: relative;
}

.card img {
    width: 140px;
    border-radius: 5px;
    padding: 4px;
}

.card h2 {
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 4px;
}

.card p {
    font-size: 13px;
    font-weight: 600;
    color: #424242;
    padding: 4px;
}

.play {
    width: 28px;
    height: 28px;
    display: flex;
    position: absolute;
    top: 109px;
    right: 7px;
    opacity: 1;
    transition: all 1s ease-out;
}

.buttons button{
    border-radius: 15px;
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: 0.1s ease;
}

.buttons .SignUp{
    background-color: #121212;
    color: rgb(128, 128, 118);
    font-weight: bold;
}

.buttons .LogIn{
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

.buttons .SignUp:hover {
    transform: scale(1.05);
    color: #ffffff;
}

.buttons .LogIn:hover {
    transform: scale(1.1);
}


.playbar {
    position: absolute;
    bottom: 0;
    /* background-color: aqua; */
    width: 95%;
    padding: 12px;
}

.seekbar {
    height: 2px;
    background-color: white;
    width: 98%;
    position: absolute;
    bottom: 14px;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 4px;
    left: 0%;
    transition: all 0.5s;
}

.circle:hover {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
}

.songinfo {
    position: relative;
    bottom: 11px;
}

.songplaybuttons {
    display: flex;
    gap: 12px;
    justify-content: center;
    position: relative;
    bottom: 15px;
}

.songplaybuttons img:hover{
    cursor: pointer;
}

.songtime {
    position: relative;
    bottom: 11px;
}